<div class="container">
    <h2>Login</h2>
    
    <form [formGroup]="loginForm">
        <div class="grupo">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" placeholder="Escriba su username">
        </div>
        <div class="grupo">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" placeholder="Escriba su password">
        </div>
       
        <button type="button" (click)="onLogin()">Ingresar</button>
    </form>
    
    @if (errorMessage) {
        <p style="color: #ff5252; margin-top: 15px; text-align: center;">{{ errorMessage }}</p>
    }
</div>